html {
    min-height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #375F68;
    background-color: #FAF4EC;
    margin: 0;
    min-height: 100vh;
}

.darkBG {
    background-color:#212121;
}   

.sidebardarkBG {
    background-color: #4D4D4D;
}

/* -------------------------  Sidebar  -----------------------------  */

.my-notes-container {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%; 
    width: 20%; 
    position: fixed; 
    background-color: #F3E9DE;
    float: left;
    top: 0;
    left: 0;
}

#sidebar-h1 {
    text-align: center;
    font-size: 2em;
}

ul {
    list-style-type: square;
}

/* -------------------------  Main  ----------------------------- */


.better-note-container {
    display:flex;
    justify-content: center;
    position: relative;
    height: 10vh;

}

.maincontainer {
    display: flex;
    flex-direction: column;
    margin-left: 21%;
    width: 79%;
    height: 75vh;
}

#aboutDocs {
    text-align: right;
    margin-right: 1.5%;
}

.button-style {
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    border-radius: 8px;
    white-space: nowrap;
    margin-right: 1%;
}

.topbuttons {
    display:flex;
}

.bottombuttons {
    display:flex;
    flex-direction: row-reverse;
    gap: 0.5%;
}

#new {
    background-color: #56536A;
    margin-right: auto;
}

#theme {
    background-color: black;
    margin-left: auto;
}

#save {
    background-color: #256993;
}

#cancel {
    background-color: #9B332C;
}

.textarea {
    border: 3px lightblue solid;
    margin: 1% 1% 1% 0%;
    width: auto;
    padding: 12px 18px;
    border-radius: 5px;
}


/* ------------------------  Bottom of the page   ----------------------------- */

.keepintouch-container{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 78.5%;
    clear: both;
    margin-left: 21%;
    height: auto;
    display: inline-block;
}



/* ------------------------  Media   ----------------------------- */

@media screen and (max-width:600px) {
    .my-notes-container {
        float: none;
        position: relative;
        height: 25vh;
        width: 100%;
        top: auto;
        left: auto;
        margin: auto;
    }

    .maincontainer {
        width: 98%;
        height: 55vh;
        margin: auto;
    }

    .textarea {
        width: auto;
    }

    .keepintouch-container {
        margin: auto;
        width: 100%;
        height: auto;
    }

}
