body {
    font-family: 'Inter', sans-serif;
    color: #375F68;
    background-color: #FAF4EC
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    position: relative;
    padding-left: 260px;
}


/* -------------------------  Sidebar  -----------------------------  */

.my-notes-container {
    background-color: #F3E9DE;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: fixed;
    width: 200px;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 20px;
    height: 100%;
}

/* -------------------------  Main  ----------------------------- */

header {
    text-align: center;
}

.button-style {
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

#new {
    background-color: #56536A;
    width: 120px;
}

#theme {
    background-color: black;
    width: 140px;
}

#save {
    background-color: #256993;
    width: 90px;
}

#cancel {
    background-color: #9B332C;
    width: 100px;
}

/* ------------------------  Bottom of the page   ----------------------------- */

.keepintouch-container{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}